.nav {
  display: flex;
  align-items: center;
}

.site-nav,
.contact__nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
}

.nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link-current {
  color: var(--accent-color);

  &::after {
    display: block;
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    transform: scaleX(1);
  }
}

.nav__link-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  justify-content: center;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);

  margin-left: auto;
}

.contact__item {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
