.link-item {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    transform: scaleX(0);
    transition: transform 250ms var(--timing-function);
  }

  &:hover::after,
  &:focus::after {
    display: block;
    transform: scaleX(1);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
