.page-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  padding-top: 24px;
  padding-bottom: 24px;
}

.page-logo__first-half {
  color: #2196f3;
}

.page-logo__second-half-logo {
  color: var(--white-color);
}
