.social-list {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.social-list__link {
  fill: var(--social-icons);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
  }
}
