.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  margin: 0px auto 30px auto;
}

.work-title {
  margin-bottom: 50px;
}

.title-case {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

h3.about-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h3.social-title {
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
