h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--secondary-color);
  background-color: var(--white-color);
  margin: 0px 0px;
}

.container-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

button {
  cursor: pointer;
}
