:root {
  --text-color: #757575;
  --secondary-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-background: #f5f4fa;
  --logo-font: 'Raleway', sans-serif;
  --button-color: #2196f3;
  --main-font: 'Robosto', sans-serif;
  --footer-backround: #2f303a;
  --social-icons: rgba(175, 177, 184, 1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
